@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.heroImage{
  border-radius: 0.75rem;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
}

/* // Poppins font */

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins SemiBold"),
    url("../public/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins Regular"),
    url("../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins Light"),
    url("../public/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins Bold"),
    url("../public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins Medium"),
    url("../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}



/* 
// SF Pro Display font */

@font-face {
  font-family: "SF-Regular";
  src: local("SF Pro Display"),
    url("../public/fonts/SF/SFPRODISPLAYREGULAR.OTF") format("opentype");
}


@font-face {
  font-family: "SF-Bold";
  src: local("SF Pro Display"),
    url("../public/fonts/SF/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: "SF-Medium";
  src: local("SF Pro Display"),
    url("../public/fonts/SF/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}



  
  /* Apply the font to a specific element or globally */
  .SFBold {
    font-family: 'SF-Bold', sans-serif;
  }

  .SFMedium {
    font-family: 'SF-Medium', sans-serif;
  }

  .SFRegular {
    font-family: 'SF-Regular', sans-serif;
  }

  /* // Poppins font  */

  .PoppLight {
    font-family: 'Poppins-Light', sans-serif;
  }

  .PoppMedium {
    font-family: 'Poppins-Medium', sans-serif;
  }

  .PoppRegular {
    font-family: 'Poppins-Regular', sans-serif;
  }

  .PoppSemiBold {
    font-family: 'Poppins-SemiBold', sans-serif;
  }

  .PoppBold {
    font-family: 'Poppins-Bold', sans-serif;
  }
  